@font-face {
  font-family: "Bellota Text";
  src: url(./fonts/Bellota_Text/BellotaText-Regular.ttf);
}
@font-face {
  font-family: "Reggae One";
  src: url(./fonts/Reggae_One/ReggaeOne-Regular.ttf);
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url(./fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf);
}
