$mainColor: rgb(127, 0, 0)
$shadow: 0 5px 5px rgba(0, 0, 0, 0.2)
$cardShadow: 10px 5px 5px rgba(0, 0, 0, 0.2)

.cardBasket
  font-family: 'Bellota Text', cursive
  position: relative
  border-left: 1px solid rgba(0, 0, 0, 0.2)
  border-top: 1px solid rgba(0, 0, 0, 0.2)
  height: 250px
  width: 100%
  margin: 10px auto
  box-shadow: $cardShadow
  border-radius: 20px
  padding: 1%
  display: flex
  justify-content: space-between

  .deleteBasket
    position: absolute
    right: -20px
    top: -15px
    border-radius: 50%
    padding: 5px
    svg
      color: $mainColor
      font-size: 30px
      cursor: pointer
  .basketItem
    display: flex
    width: 80%
    img
      border-radius: 20px
      box-shadow: $shadow
      margin-right: 30px
      display: flex
    .basketItemInfo
      width: 100%
      display: flex
      flex-direction: column
      .name
        font-weight: bold
        font-size: 30px
      .price
        flex: 1 0 auto
        margin-top: 20px
        font-size: 20px
      .number
        font-size: 20px
        flex: 0 0 auto
  .basketCounter
   
    display: flex
    align-items: center
    justify-content: flex-end
    svg
      font-size: 30px
      color: $mainColor
      cursor: pointer
    .counter
      margin: 0 10px
      width: 50px
      height: 50px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      box-shadow: $shadow

@media screen and (max-width: 1500px) and (min-width: 1200px)
  .cardBasket
    height: 200px
    .deleteBasket
      right: -15px
      svg
        font-size: 25px
    .basketItem
      img
        margin-right: 15px
      .basketItemInfo
        .name
          font-size: 20px
        .price
          margin-top: 10px
          font-size: 15px
        .number
          font-size: 15px
    .basketCounter
      svg
        font-size: 20px
      .counter
        font-size: 15px
        width: 40px
        height: 40px

@media screen and (max-width: 1200px) and (min-width: 800px)
  .cardBasket
    height: 150px
    .deleteBasket
      right: -10px
      top: -10px
      svg
        font-size: 20px
    .basketItem
      img
        margin-right: 10px
      .basketItemInfo
        .name
          font-size: 20px
        .price
          margin-top: 10px
          font-size: 15px
        .number
          font-size: 15px
    .basketCounter
      svg
        font-size: 18px
      .counter
        font-size: 15px
        width: 35px
        height: 35px

@media screen and (max-width: 800px) and (min-width: 0px)
  .cardBasket
    padding: 5%
    flex-direction: column
    height: auto
    .deleteBasket
      right: -10px
      top: -10px
      svg
        font-size: 20px
    .basketItem
      width: 100%
      img
        margin-right: 10px
        width: 50%
      .basketItemInfo
        .name
          font-size: 15px
        .price
          margin-top: 10px
          font-size: 10px
        .number
          font-size: 10px
    .basketCounter
      border-top: 1px solid $mainColor
    
      margin: 10px auto 0 auto
      justify-content: center
      margin-bottom: 5px
      svg
        font-size: 15px
      .counter
        font-size: 10px
        width: 30px
        height: 30px

@media screen and (max-width: 500px) and (min-width: 0px)
  .cardBasket
    flex-direction: column
    height: auto
    .deleteBasket
      right: -10px
      top: -10px
      svg
        font-size: 20px
    .basketItem
      flex-direction: column
      width: 100%
      img
        margin: 0 auto
        width: 70%
      .basketItemInfo
        .name
          font-size: 15px
          margin-top: 20px
        .price
          margin-top: 10px
          font-size: 10px
        .number
          font-size: 10px
    .basketCounter
      
      justify-content: center
      svg
        font-size: 15px
      .counter
        font-size: 10px
        width: 30px
        height: 30px
