$mainColor: rgb(127, 0, 0)
$shadow: 0 5px 5px rgba(0, 0, 0, 0.2)
$cardShadow: 10px 5px 5px rgba(0, 0, 0, 0.2)

.card
  position: relative
  border-left: 1px solid rgba(0, 0, 0, 0.2)
  border-top: 1px solid rgba(0, 0, 0, 0.2)
  height: 500px
  padding: 5%
  display: flex
  flex-direction: column
  border-radius: 30px
  box-shadow: $cardShadow
  img
    width: 100%
    border-radius: 15px
    margin-bottom: 5px
  .titleCard
    font-size: 15px
    flex: 1 0 auto
    .title
      font-weight: bold
      font-size: 25px
  .cardPrice
    flex: 0 0 auto
    display: flex
    justify-content: space-between
    span:first-child
      font-weight: bold
      font-size: 20px
    span:last-child
      font-size: 15px
  button
    border-radius: 15px
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3)
    margin-top: 15px
    background-color: $mainColor
    color: #fff
    width: 130px
    font-size: 20px
    height: 60px
    cursor: pointer
  .deleteSign
    position: absolute
    right: -20px
    svg
      color: $mainColor
  .updateSign
    position: absolute
    right: -20px
    top: 50px
