$mainColor: rgb(127, 0, 0)
$shadow: 0 5px 5px rgba(0, 0, 0, 0.2)

footer
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2)
  padding: 0 10%
  display: grid
  grid-template-columns: 1fr 1fr 2fr
  grid-gap: 40px
  font-family: 'Montserrat Alternates', sans-serif
  footer > div
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center

  .workTime
    display: flex
    flex-direction: column
    justify-content: center
    ul
      li
        list-style-type: none
        display: flex
        margin: 20px 0
        align-items: center
        a
          display: flex
          color: #000
          svg
            margin: 0 15px
            transform: scale(2.5)
          .workTimeInfo
            span
              display: block
              font-size: 20px
        svg
          margin: 0 15px
          transform: scale(2.5)
        .workTimeInfo
          span
            display: block
            font-size: 20px

  .telNumber
    display: flex
    align-items: center
    svg
      margin: 0 15px
      transform: scale(2.5)
    .fullTelNotation
      display: flex
      align-items: center
      span
        font-size: 40px
        margin-right: 15px
      .telNumbers span
        display: block
        font-size: 20px
  .footerImg
    display: flex
    justify-content: center
    img
      width: 50%

@media screen and (max-width: 1650px) and (min-width: 1450px)
  footer
    grid-gap: 30px

    .workTime
      ul
        li
          a
            svg
              transform: scale(2.3)
            .workTimeInfo
              span
                font-size: 18px
          svg
            transform: scale(2.3)
          .workTimeInfo
            span
              font-size: 18px

    .telNumber
      svg
        transform: scale(2.3)
      .fullTelNotation
        span
          font-size: 30px
        .telNumbers span
          font-size: 18px

@media screen and (max-width: 1450px) and (min-width: 1250px)
  footer
    grid-gap: 30px

    .workTime
      ul
        li
          a
            svg
              transform: scale(2)
            .workTimeInfo
              span
                font-size: 15px
          svg
            transform: scale(2)
          .workTimeInfo
            span
              font-size: 15px

    .telNumber
      svg
        transform: scale(2)
      .fullTelNotation
        span
          font-size: 23px
        .telNumbers span
          font-size: 15px

@media screen and (max-width: 1250px) and (min-width: 1000px)
  footer
    grid-gap: 15px

    .workTime
      ul
        li
          margin: 15px 0
          a
            svg
              transform: scale(1.5)
            .workTimeInfo
              span
                font-size: 10px
          svg
            transform: scale(1.5)
          .workTimeInfo
            span
              font-size: 10px

    .telNumber
      svg
        transform: scale(1.5)
      .fullTelNotation
        span
          font-size: 18px
        .telNumbers span
          font-size: 10px

@media screen and (max-width: 1000px) and (min-width: 800px)
  footer
    grid-gap: 0

    .workTime
      ul
        li
          margin: 10px 0
          a
            svg
              transform: scale(1.5)
            .workTimeInfo
              span
                font-size: 10px
          svg
            transform: scale(1.5)
          .workTimeInfo
            span
              font-size: 10px

    .telNumber
      svg
        transform: scale(1.5)
      .fullTelNotation
        span
          font-size: 14px
          margin-right: 5px
        .telNumbers span
          font-size: 10px

@media screen and (max-width: 800px) and (min-width: 0px)
  footer
    grid-template-columns: 1fr
    grid-gap: 30px
    .workTime
      align-items: center
      ul
        li
          margin: 20px 0
          a
            svg
              transform: scale(2)
            .workTimeInfo
              span
                 font-size: 20px
          svg
            transform: scale(2)
          .workTimeInfo
            span
              font-size: 20px

    .telNumber
      justify-content: center
      svg
        margin: 0 15px
        transform: scale(2)
      .fullTelNotation
        span
          font-size: 25px
          margin-right: 10px
        .telNumbers span
          font-size: 20px
  // footer
  //   grid-template-columns: 1fr
  //   grid-gap: 30px
  //   .workTime
  //     align-items: center
  //     ul
  //       li
  //         svg
  //           transform: scale(2)
  //           margin: 0 20px
  //         .workTimeInfo
  //           span
  //             font-size: 20px

  //   .telNumber
  //     justify-content: center
  //     .fullTelNotation
  //       span
  //         font-size: 25px
  //         margin-right: 10px
  //       .telNumbers span
  //         font-size: 20px

  //   .footerImg
  //     img
  //       width: 80%

@media screen and (max-width: 500px) and (min-width: 0px)
  footer
    grid-gap: 20px
    .workTime
      ul
        li
          margin: 10px 0
          a
            svg
              transform: scale(1.5)
            .workTimeInfo
              span
                 font-size: 15px
          svg
            transform: scale(1.5)
          .workTimeInfo
            span
              font-size: 15px

    .telNumber
      svg
        margin: 0 15px
        transform: scale(1.5)
      .fullTelNotation
        span
          font-size: 25px
          margin-right: 10px
        .telNumbers span
          font-size: 15px
